#account-content{
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr 0.3fr;
    gap: 5px;
    height: 100vh;

    table{
        width: 100%;
        .wide{
            width: 100px;
        }

        td{
            max-width: 100px;
            
            text-overflow: ellipsis;
            overflow: hidden;
            
        }
    }

    .window{
        height: 100%;
        width: 100%;
        max-height: 100vh;
        overflow-y: scroll;

        #action-buttons{
            display: flex;
            flex-flow: column;
            gap: 5px;

            form{
                display: inherit;
                flex-flow: inherit;
                gap: inherit;
            }
        }
    }

    
}
