@include media_s{
    header{
        font-size: 1.5rem;
        #home-link{
            visibility: hidden;
        }

        #menu-button{
            visibility: visible;
        }
    }

    .content{
        display: flex;
        flex-flow: column;
        gap: 5px;

        justify-content: center;
        align-items: center;
    }

    #account-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.3fr;
    }

    #payment-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

   
}