* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0; }

h1, h2 {
  color: white; }

a {
  color: white;
  text-decoration: none; }

body {
  display: flex;
  flex-flow: column;
  background: url("../img/background.bmp");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  /*HEADER*/
  /*FOOTER*/
  /*FORM*/
  /*CLOSE BUTTON*/
  /*TABLE BUTTONS*/
  /*WINDOW*/
  /*TABLE*/
  /*BG OPACITY*/
  /*CONTENT*/ }
  body header {
    width: 100%;
    background: #252525;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    position: sticky;
    top: 0; }
    body header a {
      text-decoration: none;
      color: white; }
    body header .register-link {
      background: #1ec73d;
      border-radius: 10px;
      padding: 1rem;
      transition: background-color 0.3s ease-in; }
      body header .register-link:hover {
        background: #37e156; }
    body header #page-nav, body header #login-nav {
      display: flex;
      flex-flow: row;
      gap: 2rem;
      align-items: center; }
    body header #login-nav {
      justify-content: right; }
  body footer {
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; }
  body form {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    border-radius: 10px;
    color: white; }
    body form textarea {
      resize: none; }
  body .close-button .button-line {
    background: white;
    width: 20px;
    height: 5px; }
    body .close-button .button-line:nth-child(1) {
      transform: rotate(45deg); }
    body .close-button .button-line:nth-child(2) {
      transform: rotate(-45deg); }
  body .table-controls {
    display: flex;
    justify-content: right;
    width: 100%; }
  body .window {
    background: rgba(37, 37, 37, 0.7);
    border-radius: 10px;
    color: white;
    padding: 1rem; }
  body table {
    width: 100%; }
    body table thead {
      font-weight: bold; }
    body table td {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis; }
    body table .align-right {
      text-align: right; }
  body .background-opacity {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(30, 199, 61, 0.2); }
  body .content {
    width: 100%;
    flex: 1;
    padding: 1rem; }
  body #index-content {
    text-align: right; }
    body #index-content h1 {
      margin-right: 20vw;
      margin-top: 25vh; }
  body #login-content,
  body #register-content,
  body #delete-wallet-content,
  body #new-wallet-content,
  body #browse-wallets-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem; }
  body #account-content {
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr;
    gap: 1rem; }
    body #account-content .default-wallet {
      color: yellow; }
  body #payment-content {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem; }

@media screen and (max-width: 1000px) {
  #account-content {
    grid-template-columns: 1fr !important;
    grid-template-rows: 0.3fr 0.3fr 0.3fr !important; }
  #payment-content {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important; } }
