<div id="action-buttons">
    <form method="GET">
        <button type="submit" formaction="/payment" id="make-new-payment-button">Uusi Maksu</button>
        <button type="submit" formaction="/payment/internal" id="new-internal-payment">Oma Tilisiirto</button>
        <button type="submit" formaction="/wallets/new" id="create-new-address-button" disabled="true">Luo uusi maksuosoite</button>
        <button type="submit" formaction="/wallets/delete" id="delete-address-button" disabled="true">Poista Maksuosoite</button>
        <button type="submit" formaction="/wallets/browse" id="browse-wallets-button" disabled="true">Selaa Maksuosoitteita</button>
        <button type="submit" formaction="/account/delete" id="delete-account-button" disabled="true">Poista Tili</button>
        <button type="submit" formaction="/mine" id="mine-button" disabled="true">Louhi</button>
    </form>
</div>
