<!DOCTYPE html>
<html>
    <%- include ("../partials/head") %>
    <%- include ("../partials/header_in.ejs") %>
    <%- include ("../partials/opacity.ejs") %>
    <body>
        <div class="content" id="new-wallet-content">
            <div class="window">
                <h1>Uusi maksuosoite</h1>
                <form>
                    <label for="title">Osoitteen nimi:</label>
                    <input name="title" placeholder="Anna osoitteelle nimi" required="true">
                    <button type="submit">Luo</button>
                </form>
            </div>
            
            <script>
                const form = document.querySelector('form');
                form.addEventListener('submit', async (e) => {
                    e.preventDefault();

                    const req = new XMLHttpRequest();
                    req.open('POST', '/wallets/new', true);
                    req.setRequestHeader('Content-Type', 'application/json');
                    
                    const body = JSON.stringify({
                        title : form.title.value
                    });

                    req.send(body);

                    req.onload = () => {
                        if(req.status == 200){
                            location.assign('/account');
                        }
                        else{
                            console.log(req.status);
                        }
                    }
                });

            </script>
        </div>
    </body>

    <%- include ("../partials/footer") %>
</html>