<!DOCTYPE html>
<html>
    <%-include("../partials/head.ejs")%>

    <body>
        <header>
            <%-include("../partials/home-link.ejs")%>
        </header>

        <div class="content" id="wallets-content">
            
        </div>

        <%-include("../partials/footer.ejs")%>
    </body>
</html>