<!DOCTYPE html>
<html>
    <body>
        <%- include("../partials/header_in.ejs") %>

        <div class="content" id="wallet-content">
            
            <div id="wallet-events-window">

            </div>
        </div>

        <%- include("../partials/footer.ejs") %>
    </body>
</html>