<header>
    <div id="page-nav">
        <%- include("./home-link.ejs") %>
    </div>

    <div id="login-nav">
        <a href="/login" class="login-link">Kirjaudu Sisään</a>
        <a href="/register" class="register-link">Rekisteröidy</a>
    </div>
</header>