<header>
    <div id="page-nav">
        <%- include("./home-link.ejs") %>
    </div>

    <div id="login-nav">
        <a href="/logout" class="login-link">Kirjaudu Ulos</a>
        <a href="/account" class="register-link">Oma Tili</a>
    </div>
</header>