<table>
    <thead>
        <tr>
            <td>Nimi</td>
            <td class="align-right">Maksuosoite</td>
            <td class="align-right">Saldo</td>
        </tr>
    </thead>

    <tbody id="wallet-table">
        <% wallets.forEach(wallet => { %>
            <tr class="<%= wallet.default == true ? 'default-wallet' : ''%>">
                <td><%=wallet.title%></td>
                <td class="align-right"><%=wallet.address%></td>
                <td class="align-right" class="wide"><%=wallet.balance%>mk</td>
            </tr>
        <% })%>
    </tbody>
</table>

