<!DOCTYPE html>
<html>
    <head>
        <title>Rekisteröidy</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
        <div class="background-opacity"></div>
        <%- include("../partials/header_out.ejs") %>

        <div class="content" id="register-content">
            <div class="window">
                <h1>Luo Tili</h1>
                <form id="register-form" method="POST" action="/register" enctype="application/json">
                    <label for="firstname">*Etunimi:</label>
                    <input name="firstname" required="true" placeholder="Syötä Etunimesi"></input>

                    <label for="lastname">*Sukunimi:</label>
                    <input name="lastname" required="true" placeholder="Syötä Sukunimesi"></input>

                    <label for="username">*Käyttäjätunnus:</label>
                    <input name="username" required="true" placeholder="Valitse käyttäjätunnus"></input>
                    <div class="input-error" id="username-error"><%= locals.usernameError %></div>

                    <label for="password">*Salasana:</label>
                    <input name="password" type="password" required="true" placeholder="Valitse salasana"></input>

                    <label for="password2">*Toista salasana:</label>
                    <input name="password2" type="password" required="true" placeholder="Syötä salasanasi uudelleen"></input>
                    <div class="input-error" id="password-error"><%=locals.passwordError %></div>
                    <label for="sex">*Sukupuoli:</label>
                    <select name="sex" required="true">
                        <option>Mies</option>
                        <option>Nainen</option>
                    </select>

                    <label for="email">*Sähköposti:</label>
                    <input name="email" required={true} placeholde="Syötä sähköpostiosoitteesi"></input>

                    <label for="phone">Puh:</label>
                    <input name="phone" type="tel" placeholder="Syötä puhelinnumerosi"></input>

                    <button type="submit">Lähetä</button>
                </form>
            </div>

        </div>

        <%- include("../partials/footer.ejs") %>
    </body>
</html>